/*
Theme Name: Supro
 Description: Used to style Gutenberg Blocks in the editor.
 */


/* List styles */

.wp-block-freeform.block-library-rich-text__tinymce ol,
.wp-block-freeform.block-library-rich-text__tinymce ul {
	margin-left: 0;
	padding-left: 20px;
}

.wp-block-freeform.block-library-rich-text__tinymce ol ol,
.wp-block-freeform.block-library-rich-text__tinymce ul ul,
.wp-block-freeform.block-library-rich-text__tinymce ul ol,
.wp-block-freeform.block-library-rich-text__tinymce ol ul {
	margin-bottom: 0;
}

.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ol,
.block-library-list .editor-rich-text__tinymce ul {
	margin-left: 0;
	padding-left: 20px;
}

.block-editor ul.wp-block-archives {
	padding-left: 20px;
}

ul.wp-block-categories__list {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
}

ul.wp-block-categories__list li {
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 6px;
}

ul.wp-block-latest-posts li {
	margin-bottom: 10px;
}

.editor-post-title__block .editor-post-title__input {
	font-size: 48px;
	margin: 0;
	font-weight: 700;
	font-family: inherit;
	line-height: 1.2;
	color: #222;
}

.wp-block-freeform.block-library-rich-text__tinymce pre {
	font-family: monospace;
	font-size: 1em;
	color: #666;
	white-space: pre;
}

.wp-block {
	max-width: 1200px;
}

.wp-block[data-align=wide] {
	max-width: 1545px;
}

.wp-block[data-type="core/separator"] {
	clear: both;
}

.wp-block-heading h1.editor-rich-text__tinymce,
.wp-block-heading h2.editor-rich-text__tinymce,
.wp-block-heading h3.editor-rich-text__tinymce,
.wp-block-heading h4.editor-rich-text__tinymce,
.wp-block-heading h5.editor-rich-text__tinymce,
.wp-block-heading h6.editor-rich-text__tinymce {
	line-height: 1.2;
}

.editor-styles-wrapper dd,
.editor-styles-wrapper li {
	margin-bottom: 0;
}

.wp-block-table__cell-content {
	padding: 0;
}

.wp-block-pullquote blockquote > .editor-rich-text p {
	font-size: 28px;
}

.editor-block-list__block[data-align="center"] .wp-block-categories .wp-block-categories__post-count {
	float: none;
}

.editor-styles-wrapper.edit-post-visual-editor p.wp-block-subhead {
	font-size: 1.1em;
	font-style: italic;
	opacity: .75;
	color: #777777;
}

.wp-block-pullquote.alignleft blockquote p,
.wp-block-pullquote.alignright blockquote p {
	font-size: 20px;
}

.wp-block-pullquote.alignleft blockquote:after,
.wp-block-pullquote.alignright blockquote:after {
	font-size: 54px;
}

/**/
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	font-size: 30px;
	color: #222;
	font-style: italic;
	font-weight: 600;
	margin: 0;
	padding: 35px 0 20px;
	line-height: 1.5;
	position: relative;
	border: 0;
	box-shadow: none;
}

.wp-block-freeform.block-library-rich-text__tinymce a {
	color: #222;
}

.wp-block-freeform.block-library-rich-text__tinymce code {
	font-family: monospace, monospace;
	font-size: 1em;
	padding: 2px 4px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

.wp-block-freeform.block-library-rich-text__tinymce kbd {
	padding: 2px 4px;
	font-size: 1em;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
}

.wp-block-freeform.block-library-rich-text__tinymce p,
.wp-block-freeform.block-library-rich-text__tinymce li {
	line-height: 1.5;
}

.wp-block-cover-image.has-background-dim::before, .wp-block-cover.has-background-dim::before {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
}